<div class="container">
	<form method="POST" action="/create-tutorial">
		<h3>Create a Tutorial</h3>
		<p class="{{titleError}}">{{titleMessage}}</p>
		<input name="title" placeholder="Title" value="{{title}}" />
		<p class="{{descriptionError}}">{{descriptionMessage}}</p>
		<input
			name="description"
			placeholder="Description"
			value="{{description}}"
		/>
		<p class="{{imageError}}">{{imageMessage}}</p>
		<input name="imageURL" placeholder="Image URL" value="{{imageURL}}" />
		<div class="create">
			<input name="isPublic" type="checkbox" checked="true" />
			<span>Create tutorial as public?</span>
		</div>

		<button id="regButton">Submit</button>
	</form>
</div>