<div class="details">
	<h3>{{title}}</h3>
	<div>
		<div>
			<img src="{{imageURL}}" />
		</div>
		<div class="subForm">
			{{#if subscribed}}
				<span class="subscribed">Subscribed</span>
			{{else}}
				<div class="container">
					<form method="post" action="/details/{{id}}/subscribed">
						<button class="subscribe">Click to Subscribe</button>
					</form>
				</div>
			{{/if}}
		</div>
		<h2>Details</h2>
		<p>{{description}}</p>
		<br />
		{{#if subscribed}}
			<iframe
				width="560"
				height="315"
				src="{{videoCode}}"
				title="YouTube video player"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen
			></iframe>
		{{/if}}
		<p>Added by {{createdBy}} on {{creationDate}}</p>
	</div>
</div>

{{!-- class="{{subscription}} --}}