<div class="details">
	<h3>{{title}}</h3>
	<div>
		<div>
			<img src="{{imageURL}}" />
		</div>
		<h2>Details</h2>
		<p>{{description}}</p>
		<br />
		{{videoURL}}
		<p>Added by {{createdBy}} on {{creationDate}}</p>
	</div>
</div>