<div class="container">
	<nav>
		<div class="navLogo">
			<a href="/"><img src="../static/images/logo.png" /><h1>Video
					Tutorials</h1></a>
		</div>
		{{#if loggedIn}}
			<div class="navOptions">
				<a href="/">Home</a>
				<split>|</split>
				<a href="/courses">Courses</a>
				<split>|</split>
				<a href="/profile">Welcome, {{user.firstName}}</a>
				<split>|</split>
				<a href="/logout">Logout</a>
			</div>
		{{else}}
			<div class="navOptions">
				<a href="/">Home</a>
				<split>|</split>
				<a href="/courses">Courses</a>
				<split>|</split>
				<a href="/login">Login</a>
				<split>|</split>
				<a href="/registration">Register</a>
			</div>
		{{/if}}
	</nav>

	<main>
		<div id="indexMain" class="indexMain">
			<img src="../static/images/logo.png" />
			<h2>Video Tutorials</h2>
			<p>
				Start Self-Study Today:
			</p>
			<p>
				It'll Change Your Life
			</p>
		</div>

		<h3>Top Courses</h3>

		<div class="container">
			<div id="{{id}}" class="courses">
				<a href="/details/{{id}}">
					<img src="../static/images/nodejs.jpg" />
					<h4>Node.js</h4>
				</a>
			</div>
			<div id="{{id}}" class="courses">
				<a href="/details/{{id}}">
					<img src="../static/images/expressjs.jpg" />
					<h4>Express.js</h4>
				</a>
			</div>
			<div id="{{id}}" class="courses">
				<a href="/details/{{id}}">
					<img src="../static/images/javascript.jpg" />
					<h4>
						JavaScript
					</h4>
				</a>
			</div>
		</div>

	</main>
	<footer>
		<div>© 2021
			<a href="/">Express Fundamentals</a>
		</div>
	</footer>

</div>