<div class="container">
	<main>
		<div id="indexMain" class="indexMain">
			<img src="../static/images/logo.png" />
			<div class="container">
				<h2>Video Tutorials</h2>
				<p>
					Start Self-Study Today:
				</p>
				<p id="lastP">
					It'll Change Your Life
				</p>
			</div>
		</div>
		{{#if loggedIn}}
			<div class="container">
				<h3>Tutorials</h3>
				{{#each tutorials}}
					<div id="{{_id}}" class="courses">
						<a href="/details/{{id}}">
							<img src="{{imageURL}}" />
							<h4>{{title}}</h4>
						</a>
					</div>
				{{else}}
					<h2>No Tutorials...</h2>
				{{/each}}
			</div>
		{{else}}
			<h3>Top Tutorials</h3>
			<div class="container">
				<div class="courses">
					<a href="/login">
						<img src="{{tutorial1pic}}" />
						<h4>{{tutorial1title}}</h4>
					</a>
				</div>
				<div class="courses">
					<a href="/login">
						<img src="{{tutorial2pic}}" />
						<h4>{{tutorial2title}}</h4>
					</a>
				</div>
				<div class="courses">
					<a href="/login">
						<img src="{{tutorial3pic}}" />
						<h4>{{tutorial3title}}</h4>
					</a>
				</div>
			</div>
		{{/if}}
	</main>
</div>