<div class="container">
	<form method="POST" action="/registration">
		<h3>Sign up</h3>
		<p class="{{fnError}}">{{fnMessage}}</p>
		<input
			name="firstName"
			placeholder="First name"
			value="{{firstName}}"
		/>
		<p class="{{lnError}}">{{lnMessage}}</p>
		<input name="lastName" placeholder="Last name" value="{{lastName}}" />
		<p class="{{usernameError}}">{{userMessage}}</p>
		<input
			name="username"
			placeholder="Create a username"
			value="{{username}}"
		/>
		<p class="{{passError}}">{{passMessage}}</p>
		<input
			name="password"
			type="password"
			placeholder="Create a password"
		/>
		<p class="{{passRepError}}">{{passRepMessage}}</p>
		<input
			name="passwordRep"
			type="password"
			placeholder="Repeat password"
		/>
		<button id="regButton">Submit</button>
	</form>
</div>